---
---

// Override these: https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss

$header-bg-color: #0099B5 !default;
$header-bg-color-secondary: #0AC277 !default;

$section-headings-color: #0099B5 !default;
$body-text-color: #606c71 !default;
$body-link-color: #F58626 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

