<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>

<header class="page-header" role="banner">
    {% if page.title %}
        <h1 class="project-name">{{ page.title | default: site.title }}</h1>
    {%else %}
        <img src="img/conversion_insights_logo.png" alt="Conversion Insights" width="400" height="58">
    {% endif %}
    <h2 class="project-tagline">{{ page.description }}</h2>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        <a href="http://builtinkc.com/"><img src="img/built-in-kc-600x114.png" width="300" height="57" alt="Built in Kansas City" align="right" /></a>
    </footer>
</main>
</body>
</html>
